/*-- global --*/

* {
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  outline: none;
}

body, html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li {
  margin: 0;
}

img {
  display: block;
  border: none;
}

/*-- utils --*/
.hide {
  display: none !important;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed;
}

.center {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.centerX {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.button {
  cursor: pointer;
  display: block;
}

/*-- layout --*/
section {
  position: relative;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -1px;
}

section:last-child {
  position: fixed !important;
  bottom: 0 !important;
}

.wrap {
  padding-bottom: 88px;
}

[placeholder]